/*
 Based on article at SitePoint.
 https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/

/* Hide default styling */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Custom thumb styling */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* Custom track styling */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #BABCBF;
  /* TODO: background: #E72B2D; for left part of slider if possible one day*/
  border-radius: 2px;
}
